

/*#find-input{
	width: 100%;
}*/
body{
	background-color: #DDE7ED !important;
	/*background-color: rgba(105, 188, 218, 0.21) !important;*/
}

#main-view{
	min-width: 800px;
	padding-top: 15px;
}	

#res-table-head td{
	font-weight: bolder;
}

td.res-table-fio{
	width: 300px;
	font-weight: bolder;
}

#find-result{
	padding: 10px 15px 10px 15px;
}

#visit-list-table td{
	border: 1px gray solid;
	padding-left: 5px;
	padding-right: 5px;
}

.pointer{
	cursor: pointer;
}

.hover-underline:hover{
	text-decoration: underline;
}

.edit-btn-wrapper{
	width: 15px;
}

.visit-type{
	/*margin-right: 2px;*/
}

.visit-count-box{
	display: inline-flex;
}
.visit-count-box span{
	margin-right: 1px;
}

/* Modal mouse wheel issues https://github.com/twbs/bootstrap/issues/16297 */
.modal.fade.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.modal-content {
	background-color: #F7FAFC;
}

.doc-icon{
	padding-left: 17px;
	background: url(../img/icon_word.gif) no-repeat;
	background-size: 15px;
}

.tooltip {
    z-index: 9999;
    position: fixed;
}

#edit-patient{
	width: 100%;
}

#edit-patient td{
	padding: 2px;
}

.padding-table{
	padding-left: 15px !important;
}

#error-message{
	text-align: left;
}

.red {
	color: red;	
}