

/*#find-input{
	width: 100%;
}*/

#main-view{
	min-width: 800px;
	padding-top: 15px;
}	

#res-table-head td{
	font-weight: bolder;
}

td.res-table-fio{
	width: 200px;
	font-weight: bolder;
}
