

/*#find-input{
	width: 100%;
}*/

#main-view{
	min-width: 800px;
	padding-top: 15px;
}	

#res-table-head td{
	font-weight: bolder;
}

td.res-table-fio{
	width: 300px;
	font-weight: bolder;
}

#find-result{
	padding: 10px 15px 10px 15px;
}

#visit-list-table td{
	border: 1px gray solid;
	padding-left: 5px;
	padding-right: 5px;
}