<!-- <div id="wrapper">
	<div id= 'find-div'><input id='find-input' type="text" autofocus></div>
	<div id="find-result"></div>
</div> -->
<div class="container-fluid" style="border: 1px solid green">
	<div class="row">
	  <div class="col-xs-6" style="border: 1px solid red;">
	    <div class="input-group">
	      <input type="text" class="form-control" id='find-input' autofocus>
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" id='btn'>Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div>
</div>