<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
				<input type="text" class="form-control" id='find-input' placeholder="Поиск..." autofocus>
		</div><!-- /.col-lg-6 -->
		<div class="col-xs-6">
				<span data-toggle="tooltip" title="Ctrl+N" data-placement="right" data-delay=1500>
					<button type="button" class="btn btn-default" data-new-patient><span class="glyphicon glyphicon glyphicon-plus-sign"></span> Новая карта</button>
				</span>
		</div><!-- /.col-lg-6 -->
	</div>
</div>
<div id="find-result"></div>
<div id="modal-doc"></div>


