<div class="modal fade" id="edit-patietn-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" id='myForm'>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{% if edit %}Редактирование карты № {{ data.num }}{% else %}Новая карта пациента{% endif %} </h4>
        </div>
        <div class="modal-body">
          <table id='edit-patient'>
            <tr>
              <td>Фамилия</td>
              <td><input type="text" class="form-control" tabindex="1" autofocus required pattern="\s*\S+\s*" id='fn-form' value ="{{ data.fn }}"></td>
              <td class='padding-table'>Дата&nbsp;рождения</td>
              <td><input type="date" class="form-control" tabindex="4" required id='birth-form' value ="{{ data.birth }}"></td>
            </tr>
            <tr>
              <td>Имя</td>
              <td><input type="text" class="form-control" tabindex="2" required pattern="\s*\S+\s*" id='sn-form'  value ="{{ data.sn }}"></td>
              <td class='padding-table'>Пол</td>
              <td>
                <div class="btn-group" data-toggle="buttons" id='gen-radio'>
                  <label class="btn btn-default {% if data.gen == 'М' || !data.gen %} active{% endif %}">
                    <input name="gen" value="М" type="radio" tabindex="5" required  id='gen-form' {% if data.gen == 'М' || !data.gen %}checked{% endif %}>Муж
                  </label>
                  <label class="btn btn-default {% if data.gen == 'Ж' %} active{% endif %}">
                    <input name="gen" value="Ж" type="radio" tabindex="6" required {% if data.gen == 'Ж' %}checked{% endif %}>Жен
                  </label>
                </div>  
              </td>
            </tr>
            <tr>
              <td>Отчество</td>
              <td><input type="text" class="form-control" tabindex="3" required pattern="\s*\S+\s*" id='tn-form' value ="{{ data.tn }}"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Адрес</td>
              <td colspan="3"><input type="text" class="form-control"  tabindex="7" required pattern="(\s*\S+\s*)+" id='addr-form' value ="{{ data.addr }}"></td>
            </tr>
          </table>

        </div>
        <div class="modal-footer">
          <div id="error-message"></div>
          <!-- <p>123 {{ data|json }}</p> -->
          <span data-toggle="tooltip" title="Ctrl+Enter" data-placement="right">
            <button type="button" class="btn btn-primary save-button" id='save-button-patient' data-save-button-patient {% if edit %}data-num-patient="{{ data.num }}"{% else %}data-num-patient="0"{% endif %} >
            <span class="glyphicon glyphicon-floppy-disk"></span> Сохранить
          </button>
          </span>          
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </form>
    </div>
  </div>
</div>