<div class="modal fade" id="new-visit-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- <span>Новое обследование пациента</span>    -->
        <h4 class="modal-title">Новое обследование пациента</h4>     
      </div>
      <div class="modal-body">
      <table id='new-visit-table'>
          <tr>
            <td>ФИО</td>
            <td><strong>{{ doc.fn }} {{ doc.sn }} {{ doc.tn }}</strong></td>
          </tr>
          <tr>
            <td>Дата посещения</td>
            <td>02.02.2016</td>
          </tr>
          <tr>
            <td>Тип обследования</td>
            <td>
            <div class="btn-group" data-toggle="buttons" id='type-radio'>
                <label class="btn btn-default active">
                  <input name="gen" value="1" type="radio" required  id='tipe-form' checked><span class='label label-success visit-type'>&nbsp;</span> ФГДС
                </label>
                <label class="btn btn-default">
                  <input name="gen" value="2" type="radio" required><span class='label label-primary visit-type'>&nbsp;</span> фибробронхоскопия
                </label>
                <label class="btn btn-default">
                  <input name="gen" value="3" type="radio" required ><span class='label label-warning visit-type'>&nbsp;</span> колоноскопия
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Шаблон</td>
            <td>
              <select class="form-control" id='template-select-form'>
                <option value="" disabled selected>Выберите шаблон</option>
                {% for fileName in list %}
                <option value='{{ fileName }}'>{{ fileName }}</option>
                {{ author }}
              </li>
              {% endfor %}
            </select>
            </td>
          </tr>
        </table>
       
        <div id="tmpl-content"><hr></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >
          <span class="glyphicon glyphicon-edit"></span> Редактировать
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>